<div class="p-2">
<div class=" b w-100 d-flex bg-primary text-white py-3 px-2">
    <%= link_to  categories_path(category_id: params[:category_id]) do %>
      <i class="fa fa-arrow-left text-white ms-4 mt-2" aria-hidden="true"></i>
    <%end%>
  <div class="text-center flex-grow-1">
    <H2 class="mb-0">PURCHASES</H2>
  </div>
    <%= render 'log_out'%>
</div>
<div class="d-flex justify-content-around shadow py-3 px-2 bg-white">
    <span class='text-secondary lead'>Total</span>
    <span class="lead">$<%=@total%></span>
  </div>
<div id="purchases", class="w-100 d-flex flex-column">
  <%if @purchases.empty? %>
    <p class="p-4">
      Click button to add purchase
    </p>
  <%end%>

  <% @purchases.each do |purchase| %>
    <%= link_to category_purchase_path(id:purchase.id,category_id:purchase.category.id),class: 'text-decoration-none text-body' do %>
      <%= render 'purchase',purchase:purchase,category:purchase.category %>
    <%end%>
  <% end %>
</div>
  <div class="container d-flex justify-content-center py-2 flex-column px-2 fixed-bottom",  style='background-color: #5fb523'>
    <%= link_to "Add purchase", new_category_purchase_path, class: 'btn btn-outline-light rounded-0 py-2' %>
  </div>
</div>